<%= form_for(@fichier) do |f| %>
  <% if @fichier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichier.errors.count, "error") %> prohibited this fichier from being saved:</h2>

      <ul>
      <% @fichier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
