<p id="notice"><%= notice %></p>

<p>
  <strong>Hubid:</strong>
  <%= @gist.hubid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @gist.public %>
</p>

<p>
  <strong>Userlogin:</strong>
  <%= @gist.userlogin %>
</p>

<p>
  <strong>Saved:</strong>
  <%= @gist.saved %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
